<!--Settings card-->

<mat-card class="recruiting-card">
    <div class="recruiting-btns">
        <button mat-raised-button class="btn mr" [ngClass]="i === selectedIndex ? 'active': ''"
        *ngFor="let name of btnsName; let i = index" (click)="selectBtn(i)">{{ name }}</button>
    </div>

    <div class="recruiting-btns">
    <button mat-raised-button class="btn-plus mr" (click)="addComponent()">+</button>
    </div>

    <h1>Conditions</h1>

    <!--
    <div class="recruiting-btns">
        <button mat-raised-button class="btn mr" *ngFor="let btnName of conditionsName; let i = index"
        [ngClass]="[btnsName1[i].checked ? 'active' : '', i === selectedCondition ? 'active': '']" (click)="selectedBtn(true, i)">{{ btnName }}</button>
    </div>

    -->

    <div class="recruiting-btns">
      <button mat-raised-button class="btn mr" [ngClass]="i === selectedCondition ? 'active': ''"
      *ngFor="let conditionName of conditionsName; let i = index" (click)="selectedBtn(true, i)">{{ conditionName }}</button>
    </div>    
        
    <hr>
    <!--Rate per mile -->
    <div *ngFor="let item of conditionsNumber[0];">
    <ng-container>
        <app-rpm></app-rpm> 
    </ng-container>
</div>
    <!--Operating area 
   <ng-container *ngIf="selectedCondition === 1">
       <app-operating-area></app-operating-area> 
   </ng-container>
-->

</mat-card>