
    <mat-drawer-container class="drawer">
        <mat-drawer mode="side" opened class="side-nav">

            <mat-nav-list class="main-list">

                <div class="companies-list">

                    <mat-form-field appearance="outline" class="companies">
                        <mat-select [formControl]="companies" multiple>
                            <mat-select-trigger>
                                {{companies.value?.[0] || ''}}
                                <span *ngIf="(companies.value?.length || 0) > 1">
                                    (+{{(companies.value?.length || 0) - 1}} {{companies.value?.length === 2 ? 'other' :
                                    'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let company of companiesList" [value]="company">{{company}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                
                <mat-list-item class="parent">
                    <span class="full-width">Quick overview</span>
                    <mat-icon mat-list-icon class="color">menu</mat-icon>
                </mat-list-item>

                <cdk-accordion>
                    <cdk-accordion>
                        <cdk-accordion-item *ngFor="let item of items; let index = index;"
                            #accordionItem="cdkAccordionItem" role="button" tabindex="0"
                            [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                            [attr.aria-controls]="'accordion-body-' + index">
                            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                <span class="example-accordion-item-description">

                                    <mat-list-item (click)="clickedSubMenu(index)" class="parent">
                                        <span class="full-width" *ngIf="isExpanded || isShowing">{{ item.name }}</span>
                                        <mat-icon mat-list-icon class="color">{{ item.icon }}</mat-icon>
                                        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubMenu[index]}"
                                            *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
                                    </mat-list-item>

                                </span>
                            </div>
                            <div role="region"
                                [style.display]="accordionItem.expanded ? '' : 'none'"
                                [attr.id]="'accordion-body-' + index"
                                [attr.aria-labelledby]="'accordion-header-' + index">


                                    <div class="submenu" [ngClass]="{'expanded' : showSubMenu}"
                                        *ngIf="isShowing || isExpanded">

                                    <ng-container *ngIf="item.menuLevel2Exist">

                                        <mat-list-item (click)="showSubSubMenu[index] = !showSubSubMenu[index]"
                                            class="parent gradient">
                                            <span class="full-width list-p" *ngIf="isExpanded || isShowing">
                                                {{ item.menuLevel2Title }}</span>
                                            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu[index]}"
                                            *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
                                        </mat-list-item>

                                        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu[index]}"
                                            *ngIf="isShowing || isExpanded">
                                            <mat-list-item class="gradient" [routerLink]="obj.routerLink" routerLinkActive="active"
                                            *ngFor="let obj of item.menuLevel2ArrayOfNames">
                                                <div class="list-p p">{{ obj.menuLevel2Name }}</div>
                                            </mat-list-item>
                                        </div>

                                    </ng-container>
                                        
                                    <mat-list-item class="gradient" [routerLink]="obj.routerLink" routerLinkActive="active"
                                    *ngFor="let obj of item.menuLevel1ArrayOfNames">
                                        <div class="list-p">{{ obj.menuLevel1Name }}</div>
                                    </mat-list-item>

                                    </div>

                            </div>
                        </cdk-accordion-item>
                    </cdk-accordion>

                </cdk-accordion>

            </mat-nav-list>
            <mat-nav-list>
            </mat-nav-list>

        </mat-drawer>
        <mat-drawer-content>
            <div class="container-side">

                <router-outlet></router-outlet>

            </div>
        </mat-drawer-content>
    </mat-drawer-container>

