//Container

.main-container {
    height: 100%;
}

.drawer {
    min-height: 100%;
    
    .side-nav {
        max-height: 150vh;
        width: 259px;
    }

};

.container-side  {
    display: inline-block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}


.main-list {
    padding: 0px;
}

//Menu companies

.companies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #0a31b2;
    color: #fff;
};

.companies {
    width: 100%!important;
    text-align: center;
};

.mat-select {
    width: auto!important;
};

::ng-deep {
    .companies-list {
        .companies .mat-select-arrow {
            color: #fff!important;
        };

        .companies .mat-select-value {
            color: #fff;
        };

        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: transparent!important;
        };
    };
};

.icon-text{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

};

.color {
    color: #818181;
}

.item-text {
    margin-left: 31px;
}

.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(90deg);
}
.submenu {
  height: 0px;
  background-color: #eef1f6;
  border-right: 1px solid #fff;
  overflow-y: hidden;
  transition: all 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}
.submenu.expanded {
  height: 100%;
  transform: scaleY(1);
}

.list-p {
    padding-left: 32px;
}

.p {
    padding-left: 64px;
}

.gradient {
    &:hover {
        background-image: linear-gradient(to right, #0250cc, #0063ff)!important;
        color: #fff;
    }
}

.active {
    background-image: linear-gradient(to right, #0250cc, #0063ff)!important;
    color: #fff;
}
